@{
    //========================================================================================================================
    // WEBSITE: Poker Playground - Experimental virtual poker
    //
    // Randomness.cshtml
    //      Renders the randomness comparisons page
    //========================================================================================================================
}

@using SSCasino.Models;
@model Randomness

@section PageIncludes {
    <script src="@Url.Content("~/Scripts/Casino/Shuffle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Casino/Randomness.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/CardShufflers.css")" />
}

<!-- Shared card shuffler page -->
<div class="ssc_CardShufflerPage">
    <!-- Information and technology panel-->
    @Html.Partial("_InfoPanel", Model.InformationPanel)

    <!--
        Shared card shuffler container
            Card samples & results graph (left)
            Shuffler control panel (right)
    -->
    <div class="ssc_CardShufflerContainer">
        <div id="div_RandomnessContainer" class="ssc_Randomness_Area">@Html.Partial("_Randomness_Container", Model)</div>
        <div class="ssc_ShufflerCP_Panel">@Html.Partial("_Shuffler_ControlPanel", Model.ControlPanel)</div>
    </div>
</div>
