@{
    //========================================================================================================================
    // WEBSITE: Poker Playground - Experimental virtual poker
    //
    // _SiteHeadrer.cshtml
    //      Left:  Logo and site name
    //      Right: Standard and mini menus
    //
    // Developer Notes
    //      The standard and mini-menus are swapped at a width of 800px screen or browser.
    //========================================================================================================================
}

@using SSCasino.Models;
@model SiteHeader

<!-- Site Header: Logo and site name -->
<div class="ssc_SiteHeader">
    <div class="ssc_SiteHeader_Left">
        <div class="ssc_SiteHeader_SiteLogo"><a href="@Url.Action("Home", "Home")"><img class="ssc_ResponsiveImage" alt="Poker Playground Logo" src="@Url.Content("~/Content/Images/SiteHeader/SpadeLogo.png")" /></a></div>
        <div class="ssc_SiteHeader_SiteName">@Model.SiteName</div>
    </div>

    <!-- Site Header: Standard Menu -->
    <div id="div_StandardMenuContainer" class="ssc_SiteHeader_Right">
        <div class="ssc_SiteHeader_Action">
            <a class="ssc_SiteHeader_Link" href="@Url.Action("Home", "Home")"><img class="ssc_SiteHeader_LinkImage ssc_ResponsiveImage" alt="Home" src="@Url.Content("~/Content/Images/SiteHeader/HomeLink.png")" /></a>
            <div class="ssc_SiteHeader_LinkText">Home</div>
        </div>
        <div class="ssc_SiteHeader_Action">
            <a class="ssc_SiteHeader_Link" href="@Url.Action("Randomness", "Home")"><img class="ssc_SiteHeader_LinkImage ssc_ResponsiveImage" alt="Randomness" src="@Url.Content("~/Content/Images/SiteHeader/JokerLink.png")" /></a>
            <div class="ssc_SiteHeader_LinkText">Randomness</div>
        </div>
        <div class="ssc_SiteHeader_Action">
            <a class="ssc_SiteHeader_Link" href="@Url.Action("CardShuffler", "Home")"><img class="ssc_SiteHeader_LinkImage ssc_ResponsiveImage" alt="Card Shuffler" src="@Url.Content("~/Content/Images/SiteHeader/ShuffleLink.png")" /></a>
            <div class="ssc_SiteHeader_LinkText">Card Shuffler</div>
        </div>
        <div class="ssc_SiteHeader_Action">
            <a class="ssc_SiteHeader_Link" href="@Url.Action("APIDemos", "Home")"><img class="ssc_SiteHeader_LinkImage ssc_ResponsiveImage" alt="Cloud APIs" src="@Url.Content("~/Content/Images/SiteHeader/APIsLink.png")" /></a>
            <div class="ssc_SiteHeader_LinkText">Cloud APIs</div>
        </div>
        <div class="ssc_SiteHeader_Action">
            <a class="ssc_SiteHeader_Link" href="@Url.Action("PokerRoom", "Home")"><img class="ssc_SiteHeader_LinkImage ssc_ResponsiveImage" alt="Poker Room" src="@Url.Content("~/Content/Images/SiteHeader/PokerLink.png")" /></a>
            <div class="ssc_SiteHeader_LinkText">Poker Room</div>
        </div>
    </div>

    <!-- Site Header: Standard Menu -->
    <div id="div_MiniMenuContainer" class="ssc_SiteHeader_Right ssc_Hidden">
        <div class="ssc_SiteHeader_Action">
            <div id="div_MiniMenu" class="ssc_SiteHeader_Link" onclick="div_MiniMenu_OnClick();"><img class="ssc_SiteHeader_LinkImage ssc_ResponsiveImage" alt="Mini Menu" src="@Url.Content("~/Content/Images/SiteHeader/MiniMenu.png")" /></div>
        </div>
    </div>
</div>
