@{
    //========================================================================================================================
    // WEBSITE: Poker Playground - Experimental virtual poker
    //
    // CardShuffler.cshtml
    //      Renders the card shuffler page
    //========================================================================================================================
}

@using SSCasino.Models;
@model CardShuffler

@section PageIncludes {
    <script src="@Url.Content("~/Scripts/Casino/Shuffle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Casino/CardShuffler.js")" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/CardShufflers.css")" />
}

<!-- Shared card shuffler page -->
<div class="ssc_CardShufflerPage">
    <!-- Information and technology panel-->
    @Html.Partial("_InfoPanel", Model.InformationPanel)

    <!--
        Shared card shuffler container
            Card deck (left)
            Shuffler control panel (right)
    -->
    <div class="ssc_CardShufflerContainer">
        <div class="ssc_CardShuffler_CardsArea">@Html.Partial("_CardShuffler_DisplayCBP", Model.CardPack.CardDeck)</div>
        <div class="ssc_ShufflerCP_Panel">@Html.Partial("_Shuffler_ControlPanel", Model.ControlPanel)</div>
    </div>
</div>

